@import "bulfolio/variables";
@import "../../node_modules/bulma/bulma";
@import "bulfolio/overrides";

body,
html {
    height: 100%
}

.navbar.is-fixed-top.scrolled {
    background: rgba(54, 54, 54, .75) !important;
    transition: background 200ms linear;
}

.navbar-brand .navbar-item {
    span {
        transition: color 150ms linear;
    }
}

.typed {
    color: #8fba1a;
}

#particles-js {
    background-color: #08090d;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.typed-cursor {
    vertical-align: top;
    width: 20px;
    height: 48px;
    border: $primary solid 2px;
    display: inline-block;
    margin-left: 8px;
}